


form{
    text-align: center;
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);;
    height: auto;
    font-size: 30px;
    border: solid 3px black;
    display: inline-block;
    width: 30%;
    padding: 40px;
    margin-left: 630px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 30px;
}

form h1{
    text-align: center;
    margin-bottom: 30px;
}

form div{
    font-size: 20px;
    margin-bottom: 10px;
    width: 90%;
    text-align: center;
}

form div input{
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

form div textarea{
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}

form input{
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    margin-right: 60px;
}