
@import "principal";
@import "contacto";
@import "galeria";


@media (max-width: 550px) {
    header a img{
        height: 100px;
        padding: 5px;
        margin-left: 10px
    }

    header{
        height: auto;
    }

    header nav ul{
        flex-direction: column;
        justify-content: space-evenly;
        padding: 25px 5px;
        
    }

    header nav ul li a{
        
        font-size: 22px;
    }

    footer{
        height: auto;
    }

    footer div img{
        width: 40px;
        margin: 10px;
        
    }

    
    .esencia div{
        width: 450px;
        height: auto;
        padding-top: 20px;
        
    }
    
    .esencia div img{
        width: 100%;
        height: 100%;
    }
    
    
    .textoEsencia{
        font-size: 25px;
        padding-top: 10px;
        text-align: center;
    }
    
        
    .esencia-text p{
        font-size: 19px;
        text-align: justify;
    }

    .textoGaleria{
        text-align: center;
        font-size: 25px;
        padding-bottom: 10px;
        padding-top: 15px;
    }

    .galeria div{
        width: 100%;
        height: auto;
        padding: 20px;
    }
    
    .galeria div img{
        border-radius: 10px;
        border: inset 3px;
        &:hover{
            transform: scale(1.1,1.1);
        }
    
    }

    form{
        width: 60%;
        margin-top: 70px;
        margin-bottom: 70px;
        h1{
            font-size: 40px;
            margin-bottom: 20px;
        }
        div{
            font-size: 15px;
            input{
                font-size: 15px;
            }
            textarea{
                font-size: 15px;
            }
        }
        input{
            font-size: 15px;
        }
    }
}